MaintenanceTeamProject\Maintenance.Client\bin\
MaintenanceTeamProject\Maintenance.Client\obj\
MaintenanceTeamProject\vs.\
MaintenanceTeamProject\Maintenance.Server\bin\
MaintenanceTeamProject\Maintenance.Server\obj\